camel-quarkus-soap-kafka/src/main/resources/invoice.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<definitions xmlns="http://schemas.xmlsoap.org/wsdl/"
  xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
  xmlns:xs="http://www.w3.org/2001/XMLSchema"
  targetNamespace="http://kafka-soap-api-dev-ri-0-solar-core-apis-dev.apps.opshml.solarbr.com.br/kafka"
  xmlns:tns="http://kafka-soap-api-dev-ri-0-solar-core-apis-dev.apps.opshml.solarbr.com.br/kafka">

  <types>
    <xs:schema targetNamespace="http://kafka-soap-api-dev-ri-0-solar-core-apis-dev.apps.opshml.solarbr.com.br/kafka">
      <!-- Boleto Schema -->
      <xs:element name="BoletoRequest">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="topic" type="xs:string" />
            <xs:element name="key" type="xs:string" />
            <xs:element name="boleto">
              <xs:complexType>
                <xs:sequence>
                  <xs:element name="NRONOTAFISCAL" type="xs:string" />
                  <xs:element name="STATUS" type="xs:string" />
                  <xs:element name="DATAEMISSAO" type="xs:date" />
                  <xs:element name="VALORTOTAL" type="xs:decimal" />
                  <xs:element name="VENCIMENTO" type="xs:date" />
                  <xs:element name="VENCIMENTOREAL" type="xs:date" />
                  <xs:element name="NUMERODOCUMENTO" type="xs:string" />
                  <xs:element name="VALORBOLETO" type="xs:decimal" />
                  <xs:element name="CODIGOBARRA" type="xs:string" />
                  <xs:element name="PIXCOPIAECOLA" type="xs:string" />
                </xs:sequence>
              </xs:complexType>
            </xs:element>
          </xs:sequence>
        </xs:complexType>
      </xs:element>


      <xs:element name="BoletoResponse">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="status" type="xs:string" />
            <xs:element name="message" type="xs:string" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>

      <!-- Pix Schema -->
      <xs:element name="PixRequest">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="Numero" type="xs:string" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>

      <xs:element name="PixResponse">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="status" type="xs:string" />
            <xs:element name="message" type="xs:string" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:schema>
  </types>

  <!-- Port Types -->
  <portType name="KafkaPortType">
    <operation name="SendBoleto">
      <input message="tns:BoletoRequestMessage" />
      <output message="tns:KafkaResponseMessage" />
    </operation>
    <operation name="SendPix">
      <input message="tns:PixRequestMessage" />
      <output message="tns:KafkaResponseMessage" />
    </operation>
  </portType>

  <!-- Messages -->
  <message name="BoletoRequestMessage">
    <part name="parameters" element="tns:BoletoRequest" />
  </message>

  <message name="PixRequestMessage">
    <part name="parameters" element="tns:PixRequest" />
  </message>

  <message name="KafkaResponseMessage">
    <part name="parameters" element="tns:PixResponse" />
  </message>

  <!-- Bindings -->
  <binding name="BoletoBinding" type="tns:KafkaPortType">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http" />

    <operation name="SendBoleto">
      <soap:operation soapAction="http://kafka-soap-api-dev-ri-0-solar-core-apis-dev.apps.opshml.solarbr.com.br/kafka/SendBoleto" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>


  </binding>

  <binding name="PixBinding" type="tns:KafkaPortType">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http" />

    <operation name="SendPix">
      <soap:operation soapAction="http://kafka-soap-api-dev-ri-0-solar-core-apis-dev.apps.opshml.solarbr.com.br/kafka/SendPix" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>

  </binding>
  <!-- Service -->
  <service name="KafkaBoletoService">
    <port name="SendBoletoPort" binding="tns:BoletoBinding">
      <soap:address location="http://localhost:8083/boleto" />
    </port>
  </service>
  <service name="KafkaPixService">
    <port name="SendPixPort" binding="tns:PixBinding">
      <soap:address location="http://localhost:8083/boleto" />
    </port>
  </service>
</definitions>